argon2_cffi
apscheduler
pytest
pytest-env
email-validator
pydantic[email]
fastapi
uvicorn
httpx2
httpx
asyncpg
PyJWT
passlib
pydantic-settings
boto3>=1.34.0
python-multipart
slowapi
redis
aioboto3>=12.0.0
tenacity
aio-pika
botocore>=1.34.0
