<mat-card class="anime-card" appearance="outlined">
  <img mat-card-image [src]="anime().images.jpg.large_image_url" [alt]="anime().title" />
  <mat-card-header>
    <mat-card-title>
      <a class="title-link" [href]="anime().url" target="_blank" rel="noopener noreferrer">
        {{ anime().title }}
      </a>
    </mat-card-title>

    <mat-card-subtitle>
      {{ anime().title_english || anime().title_japanese || '—' }}
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div class="meta">
      <span>⭐ {{ anime().score ?? 'N/A' }}</span>
      <span>{{ anime().season | titlecase }} {{ anime().year }}</span>
    </div>
  </mat-card-content>
</mat-card>
