@if (open()) {
  <mat-card class="profile-menu">
    <div class="profile-header">
      <img [src]="profile()?.avatarUrl || 'icon.png'" class="profile-avatar" alt="Avatar" />

      <div class="profile-info">
        <h3>{{ profile()?.displayName }}</h3>
      </div>
    </div>

    <mat-divider></mat-divider>

    <nav class="menu-list">
      <a routerLink="/dashboard/profile" class="menu-item">
        <mat-icon>person</mat-icon>
        <span>My Profile</span>
      </a>

      <a routerLink="/dashboard/seasonal-anime" class="menu-item">
        <mat-icon>movie</mat-icon>
        <span>Seasonal Anime</span>
      </a>

      <a routerLink="/dashboard/image-generation" class="menu-item">
        <mat-icon>image</mat-icon>
        <span>Image Generation</span>
      </a>

      <!-- <a routerLink="/dashboard/music" class="menu-item">
        <mat-icon>library_music</mat-icon>
        <span>My Music</span>
      </a> -->
    </nav>

    <mat-divider></mat-divider>

    <button matButton="filled" class="logout-button" (click)="logout()">
      <mat-icon>logout</mat-icon>
      Logout
    </button>
  </mat-card>
}
