@use "../abstracts" as *;

/* ==========================================
   Grid System
   ========================================== */

/*
|--------------------------------------------------------------------------
| Grid
|--------------------------------------------------------------------------
*/

.grid {

  display: grid;

  gap: $space-5;

}

/*
|--------------------------------------------------------------------------
| Auto Responsive Grid
|--------------------------------------------------------------------------
*/

.grid-auto {

  display: grid;

  grid-template-columns: repeat(
      auto-fit,
      minmax(280px, 1fr)
  );

  gap: $space-5;

}

/*
|--------------------------------------------------------------------------
| Two Columns
|--------------------------------------------------------------------------
*/

.grid-2 {

  display: grid;

  grid-template-columns: repeat(2, 1fr);

  gap: $space-5;

}

/*
|--------------------------------------------------------------------------
| Three Columns
|--------------------------------------------------------------------------
*/

.grid-3 {

  display: grid;

  grid-template-columns: repeat(3, 1fr);

  gap: $space-5;

}

/*
|--------------------------------------------------------------------------
| Four Columns
|--------------------------------------------------------------------------
*/

.grid-4 {

  display: grid;

  grid-template-columns: repeat(4, 1fr);

  gap: $space-5;

}

/*
|--------------------------------------------------------------------------
| Responsive
|--------------------------------------------------------------------------
*/

@media (max-width: $breakpoint-laptop) {

  .grid-4 {

    grid-template-columns: repeat(2, 1fr);

  }

}

@media (max-width: $breakpoint-tablet) {

  .grid-3,
  .grid-4,
  .grid-2 {

    grid-template-columns: 1fr;

  }

}